extends layout
block header-extras
    script(src="/js/markdown.js")
block content
  div(ng-controller="NewQuestion").row
    div.col-sm-8
      include ./login.jade
      form(ng-submit="submitQuestion()")
        h3 Question
        div.form-group
          textarea(rows="1",placeholder="Question title", ng-model="newQuestion.title", required).form-control
        div.form-group
          textarea(rows="4",placeholder="Question description", ng-model="newQuestion.body", required).form-control
        div(ng-show='newQuestion.body')
          hr
          div.bs-callout
            h6.text-muted Markdown preview
            div(ng-markdown="newQuestion.body")
        h4 Input code
        textarea(rows="4", placeholder="Input code to use in the answer, variables definitions, imported libraries, etc", ng-model="newQuestion.input").form-control
        h4 Expected output
        textarea(rows="2", placeholder="The expected output of the code answers", ng-model="newQuestion.expected", required).form-control
        br
        div.row
          div.col-sm-2.
            Language:
          div.col-sm-3
            select(ng-model="newQuestion.language", ng-options="lang.name for lang in languages").form-control
          div.pull-right
            div(ng-show='authData')
              button(type='submit').btn.btn-default New Question
            div(ng-hide='authData')
              button(ng-click="auth.$authWithOAuthPopup('github')").btn.btn-default.
                Login with github to add a New Question
