extends layout
block content
  div(ng-controller="NewQuestion").row
    div.col-sm-8
      include ./login.jade
      form(ng-submit="submitQuestion()")
        h3 Question
        textarea(rows="1",placeholder="Question title", ng-model="newQuestion.title", required).form-control
        textarea(rows="3",placeholder="Question description", ng-model="newQuestion.body", required).form-control
        h4 Input code
        textarea(rows="3",ng-model="newQuestion.input").form-control
        h4 Expected output
        textarea(rows="2",ng-model="newQuestion.expected", required).form-control
        br
        div.row
          div.col-sm-2.
            Language:
          div.col-sm-3
            select(ng-model="newQuestion.language", ng-options="lang.name for lang in languages").form-control
          div.pull-right
            div(ng-show='authData')
              button(type='submit').btn.btn-default New Question
            div(ng-hide='authData')
              button(ng-click="auth.$authWithOAuthPopup('github')").btn.btn-default.
                Login with github to add a New Question
