extends layout
block content
  div(ng-controller="AnswerController").row
    input(type="hidden", value="#{question}")#questionId
    .col-sm-8.col-sm-offset-1
      include ./login.jade
      div
        div(ng-hide='editable && authData')
          H3 {{ question.title | capitalize }}
          p.
            {{question.body}}
          H4 Input code
          ng-prism(ng-class="langClass") {{question.input}}
          H4 Expected output
          pre
            code.
              {{question.expected}}
        div(ng-show='editable && authData')
          form
            textarea(rows="1",ng-model="toSaveQuestion.title", required).form-control
            textarea(rows="3", ng-model="toSaveQuestion.body", required).form-control
            h4 Input code
            textarea(rows="3",ng-hide='answers.length', ng-model="toSaveQuestion.input").form-control
            ng-prism(ng-class="langClass", ng-show='answers.length') {{question.input}}
            h4 Expected output
            textarea(rows="2",ng-hide='answers.length', ng-model="toSaveQuestion.expected", required).form-control
            pre(ng-show='answers.length')
              code.
                {{question.expected}}
        div
          div.pull-left
            ul.list-inline
              li Language: {{ question.language }}
              li
                include ./share.jade
          div.pull-right
            ul.list-inline
              li(ng-show='authData')
                ul.list-inline(ng-show='question.author===username')
                  li(ng-hide='editable')
                    a(href='', ng-click='editQuestion(question)')
                      span Edit
                  li(ng-show='editable')
                    a(href='', ng-click='saveQuestion(question)')
                      span Save
                  li(ng-show='editable')
                    a(href='', ng-click='cancelEdit(question)')
                      span Cancel
              li {{ question.createdAt | date:'medium' }}
              li
                a(href='https://github.com/{{ question.author }}') {{question.author}}
        div.clearfix
      hr
      h3 Answers
      div(ng-repeat="answer in answers", id="{{answer.$id}}")
        p {{answer.body}}
        ng-prism(ng-class="langClass") {{answer.code}}
        div(ng-if="answer.output")
          h5 Output
          pre
            code {{answer.output}}
        div(ng-if="answer.error")
          h5 Error
          pre
            code {{answer.error}}
        div
          div(ng-if="answer.state == 'passed' ").text-success
            div.pull-left State: {{answer.state}} 
              span.glyphicon.glyphicon-ok
          div(ng-if="answer.state == 'failed' ").text-danger
            div.pull-left State: {{answer.state}} 
              span.glyphicon.glyphicon-remove
          div(ng-if="answer.state == 'waiting' ").text-warning
            div.pull-left State: {{answer.state}} 
              span.glyphicon.glyphicon-time
          div.pull-right {{ answer.createdAt | date:'medium' }} 
             a(href='https://github.com/{{ answer.author }}') {{answer.author}}
        div.clearfix
        hr
      h4 New Answer
      form(ng-submit="addAnswer()")
        textarea(rows="2",ng-model="newAnswer.body", placeholder="Answer description").form-control
        h4 Code
        textarea(rows="3",ng-model="newAnswer.code", placeholder="Insert your code here", required).form-control
        br
        div.pull-right
          div(ng-show='authData')
            button(type="submit").btn.btn-default Add Answer
          div(ng-hide='authData')
            button(ng-click="auth.$authWithOAuthPopup('github')").btn.btn-default.
              Login with github to add a New Question
